* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     TODO: add font family    */
}

:root {
  --main: #1E123D;
  --white: #FFFFFF;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    text-align: center;
    padding: 60px 20px 100px;
    font-size: 3rem;
}

.section {
    padding: 0 120px;
}



/*     Navigation Bar    */
header {
    position: fixed;
    width: 100%;
    background-color: var(--main);
    border-bottom: 2px solid var(--white);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: var(--white);
}


.navbar .nav-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    color: var(--white);
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--main);
    background-color: var(--white);
}

/* TODO: Add responsive elements and icons with Font Awesome*/

.home-section {
    padding: 0 120px;
    background-color: var(--main);
}

.home-section .home-details .section-title {
    padding: 0;
}

.home-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    gap: 50px;
    color: var(--white);
}

.home-section img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.home-section .home-details p {
    line-height: 30px;
    text-align: center;
    margin: 30px 0 20px;
}


/* About Section*/

.about-section {
    padding: 0 120px;
}
.about-section .about-details .section-title {
    padding: 0;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    gap: 50px;
}

#headshot-image {
    height: 333px;
    width: 500px;
    border-radius: 6px;
}


.about-section .about-details p {
    font-size: 1rem;
    text-align: left;
    margin: 30px 0 20px;
}


/*   Projects Section  */

.projects-section {
    background-color: var(--main);
    color: var(--white);
}

.projects-section .section-title {
    padding: 120px 0 90px;
}

.case-study {
    text-align: center;
}


/*
.projects-section .section-content {
    min-height: 100vh;
}

.projects-section .section-content .projects-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.projects-section .section-content .projects-list img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    object-fit: cover;
    margin-left: 40px;
    border-radius: 10px;
    border: 2px solid var(--black);
    transition: 0.2s ease;
}

.projects-section .section-content .projects-list .project:hover {
    transform: scale(1.1);
} 

.projects-section .section-content .project-name {
    font-size: 1.8rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin: 20px 0;
}

.project-description {
    color: var(--black);
    text-align: center;
    line-height: 25px;
}
*/

/*  Resume Section */

.resume-section {
    background-color: var(--off-white);
}


.resume-section .section-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.resume-section .section-title {
    padding: 120px 0 90px;
}

.resume-section #download-button {
    color:var(--black);
    border: 2px solid var(--blue);
    padding: 12px 30px;
    border-radius: 12px;
    background-color: var(--light-pink);
}

.resume-section #download-button:hover {
    border-color: var(--purple);
    background-color: var(--mauve);
}

.resume-section .download-button {
    border: 2px solid var(--main);
    padding: 5px;
    border-radius: 12px;
}


/*  Contact Section */

.contact-section {
    background-color: var(--main);
    color: var(--white);
}
.contact-section .section-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-section .section-title {
    padding: 120px 0 90px;
}

