* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     TODO: add font family    */
}

:root {
    --black: #000;
    --white: #fff;
    --light-pink: #25009f;
    --blue: #2e00f9;
    --off-white: #f2f0ff;
    --purple: #cdd0f8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    text-align: center;
    padding: 60px 20px 100px;
    font-size: 3rem;
}

.section {
    padding: 0 120px;
}

/*     Navigation Bar    */
header {
    position: fixed;
    width: 100%;
    background-color: var(--blue);
    box-shadow: 0px 5px 5px var(--light-pink);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.navbar .site-title {
    color: var(--white);
}


.navbar .nav-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    color: var(--white);
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--light-pink);
    background-color: var(--off-white);
}

/* TODO: Add responsive elements and icons with Font Awesome*/

.home-section {
    padding: 0 120px;
    background-color: var(--off-white);
}

.home-section .home-details .section-title {
    padding: 0;
    color:var(--blue);
}

.home-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    gap: 50px;
}

.home-section img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.home-section .home-details p {
    line-height: 30px;
    text-align: center;
    margin: 30px 0 20px;
}


/* About Section*/

.about-section {
    background-color: var(--mauve);
    padding: 0 120px;
}
.about-section .about-details .section-title {
    padding: 0;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    gap: 50px;
}

.about-section img {
    height: 400px;
    width: 400px;
    border-radius: 6px;
}


.about-section .about-details p {
    font-size: 1rem;
    text-align: center;
    margin: 30px 0 20px;
}


/*   Projects Section  */

.projects-section {
    background-color: var(--blue);
}

.projects-section .section-title {
    padding: 120px 0 90px;


}

.projects-section .section-content {
    min-height: 100vh;
}

.projects-section .section-content .projects-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.projects-section .section-content .projects-list img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    object-fit: cover;
    margin-left: 40px;
    border-radius: 10px;
    border: 2px solid var(--black);
    transition: 0.2s ease;
}

.projects-section .section-content .projects-list img:hover {
    transform: scale(1.1);

} 

.projects-section .section-content .project-name {
    font-size: 1.8rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin: 20px 0;
}

.project-description {
    color: var(--black);
    text-align: center;
    line-height: 25px;
}

/*  Resume Section */

.resume-section {
    background-color: var(--off-white);
}


.resume-section .section-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.resume-section .section-title {
    padding: 120px 0 90px;
}


.resume-section .section-content .resume-item .item-title {
    text-align: center;
    padding: 20px 0 20px;
    background-color: var(--white);
}

.resume-section .section-content .resume-item .item-content {
    text-align: center;
    line-height: 25px;
    padding: 50px 0;
}

.resume-section .resume-download {
    background-color: var(--white);
    padding: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.resume-section .resume-download .download-button {
    color:var(--black);
    border: 2px solid var(--blue);
    padding: 12px 30px;
    border-radius: 12px;
    background-color: var(--light-pink);
}

.resume-section .resume-download .download-button:hover {
    border-color: var(--purple);
    background-color: var(--mauve);
}

